* {
	padding: 0px;
	margin: 0px;
	font-family: 'IBM Plex Mono', monospace;
}

::selection {
	background: #A98FE3;
}

body {
	/* Layout */
	height: 200%;
	overflow: hidden;

	/* Styling */
	background-color: #000;
}

/* Navigation */
#placeholder-logo {
	width: 200px;
	filter: invert(1);
}

header { 
	position: sticky; 
	top: 0;
}

nav {
	/* Layout */
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 15px;
	backdrop-filter: blur(9px);
}

nav > #navigation > li, 
#contact-and-account-actions > li {
	display: inline;
	margin: 0px 5px;
}

nav > ul > li > button {
	/* Styling */
	cursor: pointer;
	text-decoration: none;
	color: #B3B3B3;
	border: none;
	padding: 10px;
	background: transparent;
	font-size: 15px;

	/* Animation */
	transition: 
		color 150ms ease-out;
}

nav > ul > li > button:hover {
	color: white;
}

/* Sign-up button custom styling */
#sign-up button {
	/* Layout */
	box-sizing: content-box;
	border-radius: 6em;
    border: 2px solid white;
	/* Styling */
	color: white;
	background: black;

	transition:
			color 150ms ease-out,
			background 150ms ease-in;
}

#sign-up button:hover {
	color: black;
	background-color: white;
}


/* Main */
main {
	display: flex;
	flex-direction: column;
	align-items: center;
}

main > #hero-desc {
	display: flex;
	flex-direction: column;
	align-items: center;
	color: #E0E0E0
}

main #hero-desc section {
	display: flex;
	gap: 40px;
}

main #hero-desc #hero-desc-p {
	margin: 20px 140px;
	text-align: center;
}

main > #hero-desc section > span {
	font-size: 110px;
	text-fill-color: transparent;
	background-clip: text;
	font-family: 'Kanit', sans-serif;
}

main #hero-desc section > span::selection {
	background: transparent;
}

main #hero-desc ul {
	display: flex;
	gap: 50px;
	margin-top: 40px;
	list-style-type: none;
}

main #hero-desc ul li {
	padding: 20px;
}

main #hero-desc ul li button {
	/* Layout */
	padding: 1em;

	/* Styling */
	cursor: pointer;
	text-decoration: none;
	font-size: 15px;
	color: white;
	background-color: black;
	border: 2px white solid;
	border-radius: 6em;

	/* Animation */
	transition: 
		color 150ms ease-out,
		background-color 150ms ease-out;
}

main #hero-desc ul li button:hover {
	color: black;
	background-color: white;
}

main #hero-desc ul #demo-button-glow button {
	background: black;
	color: white;
	border: 2px solid rgba(143,200,212,1);
	box-shadow: 0 0 30px 1px rgba(143,200,212,0.4);
	transition:
	 	color 150ms ease-out,
	 	background 150ms ease-out,
		box-shadow 150ms ease-in-out;
}

main #hero-desc ul #demo-button-glow button:hover {
	background: white;
	color: black;
	border: 2px white solid;
	box-shadow:
    0 0 60px 5px #fff,  /* inner white */
    0 0 100px 10px #f0f, /* middle magenta */
    0 0 140px 20px #0ff; /* outer cyan */
}

#background-blur {
	margin-top: 200px;
	width: 50%;
	height: 600px;
	border-radius: 100%;
	filter: blur(100px);
	background: rgba(142, 237, 218, 0.5);   
}

@media (max-width: 1500px) {
	nav > ul {
		display: none;
	}
}